---
// 404 page 
---

<div
  style={{
    display: "grid",
    alignItems: "center",
  }}
>
  <p style={{ textAlign: "center", verticalAlign: "middle" }}>
    <a href="/infovis-a3/">How did we get here?</a>
  </p>
</div>
