---
import '../styles/devlog.scss';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Log</title>
</head>
<body>
    <div class="centered">
        <div class="container">
            <h1 class="header">Dev Log</h1>
            <p class="copy"> It's currently 11:38 PM AEST; lots left to do and only a week to go until it's due :D
                I'll probably be spending the night getting the bulk of the demo done so I can start the final round of testing. <br>
                But before that, I thought I'd quickly jot down the how + why behind my dev process so future me knows what was going on. Documentation. 
            </p>

            <table>
                <tr>
                    <td>June 6</td>
                    <td>Final tweaks to the landing page and application, finish iterations based on final testing round (Added adv filters and uncomflylb table). Run it through <a href="https://www.linkedin.com/in/kabilananbukani/?originalSubdomain=sg" target="_blank">kabi</a> before turning it in!</td>
                </tr>
                <tr>
                    <td>June 5</td>
                    <td>Testing & sequentially iterating (very briefly) based on feedback, since this is the final testing round. Added final content & imgs to the landing and analytics pages and make MVP of landing page.</td>
                </tr>
                <tr>
                    <td>May 30,31</td>
                    <td>Write pandas scripts and add filtering for time range & floor/zone to all charts.</td>
                </tr>
                <tr>
                    <td>May 29</td>
                    <td>Removed problematic zones (8, 31, 46, 49, 243, 402, 403) from filtering due to blank cells and identical month/quarter data</td>
                </tr>
                <tr>
                    <td>Mar 28</td>
                    <td>Fix script files + parent filtering</td>
                </tr>
                <tr>
                    <td>May 27</td>
                    <td>Initial commit to github, improved tech-stack (react, react-plotly, astro & tailwind css) </td>
                </tr>
                <tr>
                    <td>May 26</td>
                    <td>Initialise project and setup 
                        by following <a href="https://medium.com/@davidjohnakim/using-plotly-js-with-react-f792ab426248"> this tutorial</a>
                    </td>
                </tr>
                <tr>
                    <td>May 19</td>
                    <td>Created first local iteration of web-app</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html> 